@model Pandit_ApplicationEntity.ProfilePageModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/CustomJS/CustomerLoginJS.js"></script>
<style>
    .modal-contents {
        border: 1px solid #ff7e00;
        padding-bottom: 2%;
        border-radius: 3px;
        box-shadow: 0 2px 16px 0 #ff7e00;
        border-radius: 6px;
        margin-bottom: 6%;
        min-height: 262px;
        margin-top: 4%;
    }

    label {
        font-weight: normal;
    }

    .button {
        background-color: #ff880e;
        border: 1px solid #ff880e;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        /* opacity: 0.6; */
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        line-height: 20px;
        text-transform: uppercase;
        border-radius: 50px;
        width: 235px;
        height: 50px;
    }
</style>
<!-- hs About Title Start -->
<div class="hs_indx_title_main_wrapper">
    <div class="hs_title_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_left_wrapper">
                    <h2>Change password</h2>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="hs_kd_sidebar_main_wrapper hs_num_sidebar_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">

            </div>
            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-4 modal-contents" style=" margin-top: 70px;">
                <div class="card card_border p-md-4">
                    <div class="card-body">
                        <!-- form -->
                        <form>
                            @using (Html.BeginForm("ChangePassword", "ChangePassword", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="register__header text-left mb-4">
                                    @*<h3 class="register__title mb-2" style="color:#ff7e00"> Forgot Password</h3>*@
                                    @*<p style="padding:20px">
                                            Please enter the registered email address for your account. A reset link will be sent on your registered email.
                                        </p>*@
                                </div>

                                <div class="hs_kd_six_sec_input_wrapper" style="padding:0px 20px">
                                    <label>Old password</label>

                                    @Html.TextBoxFor(model => model.oldpassword, new { @type = "password", @id = "txtoldpass", @required = "true" })

                                </div>
                                <div class="hs_kd_six_sec_input_wrapper" style="padding:0px 20px">
                                    <label>New password</label>
                                    @Html.TextBoxFor(model => model.newpassword, new { @type = "password", @id = "txtnewpass", @required = "true" })
                                </div>
                                <div class="hs_kd_six_sec_input_wrapper" style="padding:0px 20px">
                                    <label>Re-enter new password</label>
                                    @Html.TextBoxFor(model => model.confirmpassword, new { @type = "password", @id = "txtconfirmpass", @required = "true" })
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="hs_pp_bottom_btn_wrapper">
                                        <div class="hs_pp_bottom_btn">
                                            <ul>
                                                <li><button class="button" type="button" onclick="Changepassword()">Submit</button></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            }
                        </form>
                        <!-- //form -->
                        <p class="backtohome mt-4">
                            @*<a href="/DefaultHome/Default" class="back">
                                    <i class="fa fa-chevron-left"
                                       aria-hidden="true"></i>Back to Home
                                </a>*@
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs About Title End -->